.pizza-image {
  max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  object-fit: contain;
}

.pizza-image-overlay{
  display: flex;
    justify-content: center;
    align-items: center;
    /* You can set the width and height of the container as per your needs */
    width: auto;
    height: 100%;
}